apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: caption-gen
  labels:
    app: frontend-service
spec:
  type: ClusterIP  # Will be exposed via Ingress
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: frontend-service

